<!DOCTYPE html>
{% load staticfiles %}
<html lang="pt-br">
	<head>
		<title>Sistema de Eventos</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
	  <meta name="author" content="Sistema de Eventos">
	  <meta name="robots" content=" index, follow">
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<meta name="description" content="Sistema de eventos do IFPB - Cajazeiras">
		<meta name="keywords" content="eventos, palestra, sistema, ifpb">
		<link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
		integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
		integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="{% static 'inicio.css' %}">
	</head>
	<body>

		<header>
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
			  <a class="navbar-brand" href="#">Sistema de Eventos</a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarNav">
			    <ul class="navbar-nav">
			      <li class="nav-item active">
			        <a class="nav-link" href="{% url 'core:index' %}">Inicio <span class="sr-only">(current)</span></a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="{% url 'cadastro:cadastro' %}">Cadastro</a>
			      </li>
						{% if user.is_authenticated %}
							<li class="nav-item">
								<a class="nav-link" href="{% url 'cadastro:logout' %}"><i class="fas fa-user-check">Logout</i></a>
							</li>
						{% else %}
							<li class="nav-item">
				        <a class="nav-link" href="{% url 'cadastro:login' %}"><i class="fas fa-user">Login</i></a>
				      </li>
						{% endif %}
			    </ul>
			  </div>
			</nav>
		</header>

		{% block content %}{% endblock %}

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
	</body>
</html>
