{% extends "core/base.html" %}

{% load staticfiles %}

{% block content %}

	<h2>{{ object.nome }}</h2>
	<h4>{{ object.data }}</h4>
	<h4>{{ object.data_fim }}</h4>

	{% if user.is_authenticated %}
		<form class="form-group" action="{% url 'core:eventos-lista' %}" method="post">
			{% csrf_token %}
			<input type="hidden" name="envia" value="{{ object.id }}">
			<input type="submit" value="Inscreva-se">
		</form>
	{% endif %}
	<div class="album">
		<h3>Album de Fotos</h3>
		<a href="{% url 'core:eventos-album' object.slug %}">
			<img src="#" alt="imagem padrao">
		</a>
	</div>
{% endblock %}
