{% extends "core/base.html" %}

{% load widget_tweaks %}

{% block content %}

	<div class="container">
	  <form class="form-inline search-bar" action="{% url 'core:eventos-lista' %}" method="post">{% csrf_token %}
	    <input class="form-control mr-sm-2" name="buscar_event" type="search" placeholder="Pesquisar o nome do evento" aria-label="Search">
	    <button class="btn btn-success my-2 my-sm-0" type="submit">Pesquisar</button>
	  </form>
  	</div>

  	<section class="cards">

		<div class="card" style="width: 18rem;">
			<div class="card-header title-color-green">Noticias</div>
			<div class="card-body">
				{% for noticia in noticias %}
					<h5 class="card-title">{{ noticia.titulo }}</h5>
					<h6 class="card-subtitle mb-2 text-muted">Publicado em: {{ noticia.data_public }}</h6>
					<h6 class="card-subtitle mb-2 text-muted">~Autor {{ noticia.autor }}</h6><hr>
					<p class="card-text">{{ noticia.texto }}</p><hr>
				{% endfor %}

			</div>
		</div>

	</section>

{% endblock %}
