
{% extends "core/base.html" %}

{% load widget_tweaks %}

{% block content %}

<div class="register-box">
    <div class="register-logo">
        <a href="../../index2.html"><b>Sistema de Eventos</b></a>
    </div>
    <div class="register-box-body">
        <p class="login-box-msg">Evento excluído com sucesso!</p>
    </div>
    <form class="" method="post">
      {{ object }}
    </form>
    <div align = "center">
    <a href="{% url 'cadastro:dashboard' %}" class="text-center">Voltar</a>
    </div>
</div>

{% endblock %}
