{% extends "core/base.html" %}

{% block content %}

	{% if request.user.is_superuser %}

	{% else %}
	<div class="container">
	  <form class="form-inline search-bar" action="{% url 'core:eventos-lista' %}" method="post">{% csrf_token %}
	    <input class="form-control mr-sm-2" name="buscar_event" type="search" placeholder="Pesquisar o nome do evento" aria-label="Search">
	    <button class="btn btn-success my-2 my-sm-0" type="submit">Pesquisar</button>
	  </form>
  	</div>
  	{% endif %}

	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Certificados</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">

					{% for aut in autoriza %}
						{% if aut.emitir_cert == 0 %}
							{% for cert in certificado %}
							<ul>
								<li><a href="{% url 'pdf' %}" target="_blank">{{ cert.evento.nome }}</a>-Participação confirmada</li>
							</ul>
							{% endfor %}
						{% else %}
							{% for cert in certificado %}
							<ul>
								<li><a href="#">{{ cert.evento.nome }}</a>-Participação não confirmada</li>
							</ul>
							{% endfor %}
						{% endif %}
					{% endfor %}
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
	      </div>
	    </div>
	  </div>
	</div>

	{% if request.user.is_superuser %}
	<div class="panel panel-success">
			<div class="panel-heading"><h4>Lista com todos os eventos cadastrados no sistema.</h4></div>
			<div class="panel-body">
					<div class="list-group">
							{% for l in lista %}
							<a href="#" class="list-group-item"><h4>{{ l.nome }}</h4></a>
							<a href="{% url 'cadastro:excluir-evento' l.pk %}">Excluir</a>
							<a href="{% url 'cadastro:alterar-evento' l.pk %}">Editar</a>
							{% endfor %}
						</div>
			</div>
		</div>

	{% else %}
	<table class="table">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Evento</th>
				<th scope="col">Status</th>
			</tr>
		</thead>
		<tbody>
			{% for event in lista %}
			<tr>
				<th scope="row">1</th>
				<td>{{ event.nome }}</td>
				<td>{{ event.finalizado }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% endif %}
{% endblock %}
